{{#if session.isAuthenticated}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      {{entypo-icon "database"}} Properties
    </a>
    <div class="dropdown-menu">
      {{#each properties as |property|}}
        {{#link-to "property" property.id class="dropdown-item"}}{{property.name}}{{/link-to}}
      {{/each}}
    </div>
  </li>
{{/if}}
