{{#if session.isAuthenticated}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      {{entypo-icon "database"}} Properties
    </a>
    <div class="dropdown-menu">
      {{#each edges as |edge|}}
        {{#link-to "property" edge.node.id class="dropdown-item"}}{{edge.node.name}}{{/link-to}}
      {{/each}}
    </div>
  </li>
{{/if}}
