@import "node_modules/bootswatch/dist/simplex/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/simplex/bootswatch";

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "ember-power-calendar";
.ember-power-calendar {
  @include ember-power-calendar($cell-size: 35px);
}

@import "z-depth";

// Ember link actions, or explicitally clickable.
a[data-ember-action]:not(:disabled),
.clickable {
    cursor: pointer;
}

// Form footer progress bars.
form .progress {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

// The primary loading progress bar, found below nav.
.loading.progress {
  border-radius: 0 !important;
  height: 0.3rem;
}

// Add styling to ember-notify alerts
.ember-notify.alert {
  box-shadow: $z-depth-2;
  border: none !important;
  min-width: 300px;
  width: inherit !important;
}

.dropdown-menu {
  box-shadow: $z-depth-2;
  border: none !important;
}

.card.list-index {
  box-shadow: $z-depth-1;
  border: none !important;
}

.card.error {
  box-shadow: $z-depth-1-half;
  border: none !important;
}

.card.model-form {
  box-shadow: $z-depth-1;
  border: none !important;
}

.modal-content {
  border: 0;
  box-shadow: $z-depth-3;
}

.fixed-bottom.create {
  left: inherit;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: $z-depth-1-half;
}

.mnh-100 {
  min-height: 100%;
}

.mnw-100 {
  min-width: 100%;
}
