{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "property.index"}}{{model.property.name}}{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item}}{{#link-to "property.queries.index"}}Queries{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}Create New{{/crumbs.item}}
{{/nav-breadcrumbs}}


<form {{action (route-action "create" model.query) on="submit"}}>
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "property/queries/form" }}
    </div>
    <div class="card-footer">
      {{model-save-button disabled=loadingDisplay.isShowing}}
    </div>
  </div>
</form>
