{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "property.index"}}{{property.name}}{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item}}{{#link-to "property.queries.index"}}Queries{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}}{{/crumbs.item}}
{{/nav-breadcrumbs}}


<div class="card model-form">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        {{#link-to "property.queries.view.index" class="nav-link"}}Criteria{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "property.queries.view.run" class="nav-link"}}Run{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "property.queries.view.results" class="nav-link"}}Results{{/link-to}}
      </li>
    </ul>
  </div>
  {{outlet}}
</div>
