{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "properties.index"}}{{entypo-icon "database"}} Properties{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}Create New{{/crumbs.item}}
{{/nav-breadcrumbs}}

<form {{action (route-action "create" model) on="submit"}}>
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "properties/form" }}
    </div>
    <div class="card-footer">
      {{model-save-button disabled=loadingDisplay.isShowing}}
    </div>
  </div>
</form>
